.widget .panel-footer {
    display: block;
    position: relative;
    min-height: 120px;
}

.widget a {
    background-color: #31b0d5;
    color: #ffffff;
    padding: 5px 15px;
    position: absolute;
    bottom: -15px;
    right: 10px;
}

.prg {
    color: #777;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}